*{
    font-family: 'Sriracha', cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    
    padding: 34px;
    margin: auto;
}
.container h1{
    font-size: 40px;

    text-align: center;
}
input,textarea{
    border: 2px solid black;
    border-radius: 6px;
    outline: none;

    width: 80%;
    margin: 11px auto;
    padding: 7px;
    font-size: 16px;

}
p{
    font-size: 16px;
    text-align: center;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color: white;
    background: purple;
    padding: 7px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 11px;
    cursor: pointer;

}
.kath{
    width: 100%;
    position: absolute;
    z-index:  -1;
    opacity: 1.1;

}
.ab{color: green;


}